
.flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        height: 100px;
        padding-left: 15%;
        margin-top: 70px;
       }

.flex-card {
       width: 20%;
       height: 250px;
       padding: 60px, 0;
       text-align: left;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between; 
       font-family: 'STIX Two Text', serif;
       position: relative; 
}
  
h3{
        margin-left: 200px; 
        margin-right: 200px;   
}

.flex-card:before {
        content: '';
        position: absolute; 
        width: 178px; /*в каких единицах сделать, чтобы верстка не плыла и было одинаково с картинкой*/
        height: 178px;
        background: rgba(20, 218, 201, 0.6);
        z-index: -1;
      }
     
.social {
        position: absolute;
        font-size: 20px;
        top: 30%;
        left: 17%;
        opacity: 0;
      }
.social a {
        cursor: pointer;
        background: rgba(121, 98, 98, 0.3);
        padding: 6px;
        color: #0e0818;
        border: 1px solid #000;
      }

.flex-card:hover .image {
        opacity: 0;
      }

.flex-card:hover.flex-card:before {
        opacity: 1;
        z-index: 1;
      }

.flex-card:hover .social {
        opacity: 1;
        z-index: 2;
      }

     



