.flex-container-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
       /* align-content: space-between;*/
        flex-direction: row;
       flex-wrap: wrap;
        width: 70%;
        height: 100px;
        padding-left: 15%;
        margin-bottom: 310px;
       }

.flex-card-1 {
       width: 300px;
       height: 400px;
       background-color: rgb(241, 243, 151);
       padding: 60px, 0;
       text-align: left;
       /*display: flex;*/
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between; 
       font-family: 'STIX Two Text', serif;
}

.flex-container-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
       /* align-content: space-between;*/
        flex-direction: row;
       flex-wrap: wrap;
        width: 70%;
        height: 100px;
        padding-left: 15%;
       }

.flex-card-2 {
       width: 32.5%;
       height: 400px;
       background-color:rgb(241, 243, 151);
       padding: 60px, 0;
       text-align: left;
       /*display: flex;*/
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between; 
       font-family: 'STIX Two Text', serif;
}
  


.positioned{
        position: absolute;
}

/*.image-1 {
        background: url(./stil-provanse.jpg.jpg) no-repeat center center;
        background-size: cover;
        /*overflow: hidden;
        width: 100%;
        height: 100%;
      }*/
     

