
  .flex-card-1{
    background-image: url(./homework13/pexels-photo-4064840.jpeg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
  }
.text{
  font-family: 'Times New Roman', Times; 
  font-size: 20px;
  /*padding-top: 8px;*/
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 47vw;
  margin-right: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color:black;
  background-color:rgb(214, 214, 213);
  opacity: 0.93;
  align-items: center;

}

fieldset{
    font-size:1em;
    border: solid 0,9em black;
    display: inline;
    float: left;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px groove (internal value);
  }
  fieldset legend{
    padding: 0 2em;
    font-size: 2em;;
  }
  .flex-card-2{
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
  .flex-card-3{
    background-image: url(./homework13/2.jpeg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flex-card-4{
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
.button {
    background-color: rgb(0, 6, 12); 
    border: none;
    color: white;
    padding: 14px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.content {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  .box-1 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/0f4c07d5a512c518c696aa4ce4012f65-l-21582036345x0lgoutr20kezuo2t934kelr0fx5kftu37udkih8gfgfdi6wdcenonfja1uizncmwzjoowacb9rgt4xnajpq9a9l9orlb9cush8z.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }
  
  .box-2 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/depositphotos_81536454-stock-photo-laptop-notebook-and-coffee-cup.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color:white;
  }
  .box-3 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/tablet-sales-decline-for-first-time-700x466.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  
  }
  
  .box-4 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/depositphotos_274950986-stock-photo-cropped-view-of-woman-holding.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }
  
  .box-5 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/shutterstock_671883610.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color:white;
  }
  .box-6 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/shutterstock_113615170.jpg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
   height: 30vh;
  }




