body{
 background-color: rgb(226, 226, 75);
 padding: 120px;
}

.flex-container{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
width: 1000px;
height: 500px;
}

.flex-card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 60px, 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; /*растянуть контент*/
  }

.flex-card h1 {
        color:green;
}

.flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
}

.flex-card .title {
        flex-grow: 1;
        font-weight: 800; /*жирный шрифт*/
}

.flex-card .image-container {
        flex-grow: 1;
}

.flex-card .image-container i {
        font-size: 4rem;
}

.title {
        font-family: Verdana, Arial, Helvetica, sans-serif; 
        font-size: 20px;   
}

div {margin-bottom: 40px;

}