
  .flex-card-1{
    background-image: url(./homework13/pexels-photo-4064840.jpeg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
  }
.text{
  font-family: 'Times New Roman', Times; 
  font-size: 20px;
  /*padding-top: 8px;*/
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 47vw;
  margin-right: 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color:black;
  background-color:rgb(214, 214, 213);
  opacity: 0.93;
  align-items: center;

}

fieldset{
    font-size:1em;
    border: solid 0,9em black;
    display: inline;
    float: left;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px groove (internal value);
  }
  fieldset legend{
    padding: 0 2em;
    font-size: 2em;;
  }
  .flex-card-2{
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
  .flex-card-3{
    background-image: url(./homework13/2.jpeg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.flex-card-4{
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
.button {
    background-color: rgb(0, 6, 12); 
    border: none;
    color: white;
    padding: 14px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.content {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  .box-1 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/0f4c07d5a512c518c696aa4ce4012f65-l-21582036345x0lgoutr20kezuo2t934kelr0fx5kftu37udkih8gfgfdi6wdcenonfja1uizncmwzjoowacb9rgt4xnajpq9a9l9orlb9cush8z.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  }
  
  .box-2 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/depositphotos_81536454-stock-photo-laptop-notebook-and-coffee-cup.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  color:white;
  }
  .box-3 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/tablet-sales-decline-for-first-time-700x466.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  
  }
  
  .box-4 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/depositphotos_274950986-stock-photo-cropped-view-of-woman-holding.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  }
  
  .box-5 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/shutterstock_671883610.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  color:white;
  }
  .box-6 {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
    background-image: url(./homework13/shutterstock_113615170.jpg);
    background-size: 100%;
    background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  }



/*flex-card-2{ 
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}*/


}
/*.text_theme{
    font-family: 'Times New Roman', Times, serif; 
    font: size 10px;
    border-left: 200px solid #333333;
    border-right: 200px solid #333333;
    padding-left:70px;
    padding-right:70px;
    
  }
  .text_theme{
    font-size:10px;
    border-left: 100px solid #333333;
    border-right: 500px solid #333333;
    padding-left:20px;
    padding-right:20px;
  }
  .box_theme{
    border-left: 10px solid #333333;
    border-right: 10px solid #333333;
    border-bottom: 10px solid #333333;
    padding: 10px;
    width: 100%-20px;
  }*/

  

/

/*body{
    padding: 50px;
    background-image: url(16252.jpg);
    background-size: 100%;
}

h1{
    color:rgb(5, 20, 36);
    text-align: center;
}

h3{
    color:rgb(5, 20, 36);
    text-align: center;
}

.phone_us:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border-radius:0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}

.form-control:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border-radius:0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}

.form-control, .phone_us::placeholder {
color: rgb(241, 239, 245);
}

.form-control::placeholder {
    color: rgb(241, 239, 245);
}

.phone_us:focus {
border-left-color: rgb(23, 8, 75);
}

.form-control:focus {
    border-left-color: rgb(23, 8, 75);
}

.form-control{
        background-color:rgb(64, 164, 231);
        color:rgb(237, 240, 243);
        padding: 10px;
}
.phone_us{
        background-color:rgb(64, 164, 231);
        color:rgb(237, 240, 243);
        padding: 10px;
}

input[type="text"] {
        font-size: 16px;
        height: 16px;
        width: 400px;
}

.container{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    opacity: 0.7;
}

.button {
    background-color: rgb(43, 132, 235); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.button:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border: radius 0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}
