body{
    padding: 50px;
    background-image: url(16252.jpg);
    background-size: 100%;
}

h1{
    color:rgb(5, 20, 36);
    text-align: center;
}

h3{
    color:rgb(5, 20, 36);
    text-align: center;
}

.phone_us:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border-radius:0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}

.form-control:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border-radius:0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}

.form-control, .phone_us::placeholder {
color: rgb(241, 239, 245);
}

.form-control::placeholder {
    color: rgb(241, 239, 245);
}

.phone_us:focus {
border-left-color: rgb(23, 8, 75);
}

.form-control:focus {
    border-left-color: rgb(23, 8, 75);
}

.form-control{
        background-color:rgb(64, 164, 231);
        color:rgb(237, 240, 243);
        padding: 10px;
}
.phone_us{
        background-color:rgb(64, 164, 231);
        color:rgb(237, 240, 243);
        padding: 10px;
}

input[type="text"] {
        font-size: 16px;
        height: 16px;
        width: 400px;
}

.container{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    opacity: 0.7;
}

.button {
    background-color: rgb(43, 132, 235); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.button:focus{
    background-color:rgb(114, 155, 182);
    color:rgb(242, 246, 248);
    border: radius 0;
    border: 0;
    box-shadow: none;
    border-left: 2px solid transparent;
}
